In [2]:
import json
import pandas as pd
import time

In [17]:
import json

# 指定 JSON 文件的路径
json_file_path = 'meta_Clothing_Shoes_and_Jewelry.json'

# 初始化数据记录数
num_records = 0

# 打开 JSON 文件逐行读取数据
with open(json_file_path, 'r', encoding='utf-8') as json_file:
    for line in json_file:
        try:
            # 尝试解析当前行的 JSON 对象
            data = json.loads(line)
            num_records += 1
        except json.JSONDecodeError:
            # 如果行无法解析为 JSON 对象，跳过该行
            continue

print(f"数据记录数：{num_records} 条")

数据记录数：2685059 条

In [ ]:
#data_file = open('Clothing_Shoes_and_Jewelry.json')
data_file = open('meta_Clothing_Shoes_and_Jewelry.json')
data = []

start_time = time.time()
i = 0
for line in data_file:
    i = i + 1
    data.append(json.loads(line))
    if i > 2685058:
        break
end_time = time.time()
print(end_time-start_time)

data_file.close()
df = pd.DataFrame(data)

877.2011115550995

In [4]:
df

,category,description,title,brand,feature,rank,date,asin,imageURL,imageURLHighRes,also_view,price,fit,also_buy,main_cat,tech1,details,similar_item,tech2
0,"[Clothing, Shoes & Jewelry, Costumes & Accesso...","[6"" long, stretched waist measures 11 1/2"" acr...",Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,Big Dreams,"[3 layers of tulle, 6"" long, stretched waist m...","19,963,069inClothing,ShoesJewelry(",5 star5 star (0%),0000037214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[Clothing, Shoes & Jewelry, Luggage & Travel G...",[The Hottest Bag in Town! Brand: Anello Condit...,Japan Anello Backpack Unisex LARGE LIGHT GRAY ...,Anello,"[Polyester Canvas Waterproof, Imported, Size: ...","4,537,420inClothing,ShoesJewelry(",5 star,0201377179,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[Clothing, Shoes & Jewelry, Luggage & Travel G...",[The Hottest Bag in Town! Brand: Anello Condit...,Japan Anello Backpack Unisex PINK BEIGE LARGE ...,Anello,"[PU Leather, Imported, Size: Large PU Leather ...","3,994,472inClothing,ShoesJewelry(",5 star,0204444454,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,"[B07CJF5HLR, B01EBI8UH6, B01N1LR908, B074M4QKG...",$70.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[Clothing, Shoes & Jewelry, Luggage & Travel G...",[The Hottest Bag in Town! Brand: Anello Condit...,Japan Anello Backpack Unisex BLACK LARGE PU LE...,Anello,"[PU Leather, Imported, Size: Large PU Leather ...","635,761inClothing,ShoesJewelry(",5 star,0204444403,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,"[B01DLVYOPG, B07CJF5HLR, B01MSS59Y6, B071YBC1J...",$65.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[Clothing, Shoes & Jewelry, Novelty & More, Cl...",[Brand New. Hat Centre Length: adult about 8c...,bettyhome Unisex Adult Winter Spring Thicken C...,bettyhome,"[Imported, Plush,Cotton, Polyester, Lovely for...","5,061,041inClothing,ShoesJewelry(",5 star5 star (0%),0206313535,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,"[B00VGT93YS, B07FTY87LM, B01IKVOY8E, B01GF6C6F...",$18.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2685054,"[Clothing, Shoes & Jewelry, Baby, Baby Girls, ...",[Size Length Hip*2 Age Advice 70 39.5 CM 30 CM...,Newborn Baby Girl Bodysuit Lace Floral Romper ...,Hotone,"[New in Fashion, Material: Cotton Blend, Your ...","1,671,980inClothing,ShoesJewelry(",5 star,B01HJHR8A6,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,$4.99,"class=""a-normal a-align-center a-spacing-smal...","[B01K9VS6F0, B07CRH23Q7, B01IP4R5K0, B01MR2KOE...",NaN,NaN,NaN,NaN,NaN
2685055,"[Clothing, Shoes & Jewelry, Women, Shoes, Sand...",[Soludos are made in US whole sizes. If you ar...,Soludos Women's Tall Espadrille Wedge Sandal,Soludos,"[Linen, Made in USA or Imported, Synthetic sol...","3,988,993inClothing,ShoesJewelry(",5 star5 star (0%),B01HJHA4W0,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,NaN,NaN,[B07BTK4QRC],NaN,NaN,NaN,NaN,NaN
2685056,"[Clothing, Shoes & Jewelry, Novelty & More, Cl...",[],ChicAmigas88 Sweetheart Mermaid Long Beach Wed...,Unknown,"[Material: Organza, Sweetheart Long Mermaid La...","13,124,926inClothing,ShoesJewelry(",5 star,B01HJHQR1W,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2685057,"[Clothing, Shoes & Jewelry, Men, Shoes, Oxfords]",[This classic plain toe style is anything but ...,Deer Stags Men's Lohi Oxford,NaN,"[100% Leather, Imported, Synthetic sole, Smoot...","1,228,949inClothing,ShoesJewelry(",5 star,B01HJH8JBI,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,"[B01ICBF8T6, B07CL3C92Q, B071W7GNWS, B01M8K0YF...",$28.23 - $80.00,"class=""a-normal a-align-center a-spacing-smal...",NaN,NaN,NaN,NaN,NaN,NaN
2685058,"[Clothing, Shoes & Jewelry, Women, Clothing, S...",[CUPSHE Intro To inspire confidence and beauty...,CUPSHE Women's Point Me at The Sky Floral Biki...,CUPSHE,"[Fabric: chinlon, Reversible design, Cross at ...","1,142,909inClothing,ShoesJewelry(",NaN,B01HJHFS58,[https://images-na.ssl-images-amazon.com/image...,[https://images-na.ssl-images-amazon.com/image...,"[B01G1H29FO, B07DFG6R54, B073B2QD3D]",NaN,NaN,"[B01G1H29FO, B0746CD5W7, B01M1HUD2I, B07M7TCYR...",NaN,NaN,NaN,"[{'asin': '', 'href': '', 'name': 'CUPSHE Wome...",NaN

## product

In [ ]:
filtered_data = []
for item in data:
    filtered_item = {
        "asin": item.get("asin"),
        "title": item.get("title"),
        "brand": item.get("brand"),
        "p_rank": item.get("rank"),        
        "rate": item.get("date"), 
        "price": item.get("price"),    
        "description": item.get("description"),
        "image": item.get("imageURLHighRes")
    }
    filtered_data.append(filtered_item)

product = pd.DataFrame(filtered_data)

In [6]:
#product['rate'] = product['rate'].apply(lambda x: x if 'star' in str(x) else None)
import random
product['rate'] = product['rate'].apply(lambda x: 0 if 'star' not in str(x) else x)
product['rate'] = product['rate'].str.replace(r'5 star5 star \(0%\)', '5', regex=True)
product['rate'] = product['rate'].str.replace(r'5 star', '5', regex=True)

product['rate'] = product['rate'].apply(lambda x: random.randint(1, 4) if ('5') not in str(x) else x)
#product['rate'] = product['rate'].fillna('None')

In [7]:
product

,asin,title,brand,p_rank,rate,price,description,image
0,0000037214,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,Big Dreams,"19,963,069inClothing,ShoesJewelry(",5,None,"[6"" long, stretched waist measures 11 1/2"" acr...",None
1,0201377179,Japan Anello Backpack Unisex LARGE LIGHT GRAY ...,Anello,"4,537,420inClothing,ShoesJewelry(",5,None,[The Hottest Bag in Town! Brand: Anello Condit...,[https://images-na.ssl-images-amazon.com/image...
2,0204444454,Japan Anello Backpack Unisex PINK BEIGE LARGE ...,Anello,"3,994,472inClothing,ShoesJewelry(",5,$70.00,[The Hottest Bag in Town! Brand: Anello Condit...,[https://images-na.ssl-images-amazon.com/image...
3,0204444403,Japan Anello Backpack Unisex BLACK LARGE PU LE...,Anello,"635,761inClothing,ShoesJewelry(",5,$65.99,[The Hottest Bag in Town! Brand: Anello Condit...,[https://images-na.ssl-images-amazon.com/image...
4,0206313535,bettyhome Unisex Adult Winter Spring Thicken C...,bettyhome,"5,061,041inClothing,ShoesJewelry(",5,$18.99,[Brand New. Hat Centre Length: adult about 8c...,[https://images-na.ssl-images-amazon.com/image...
...,...,...,...,...,...,...,...,...
2685054,B01HJHR8A6,Newborn Baby Girl Bodysuit Lace Floral Romper ...,Hotone,"1,671,980inClothing,ShoesJewelry(",5,$4.99,[Size Length Hip*2 Age Advice 70 39.5 CM 30 CM...,[https://images-na.ssl-images-amazon.com/image...
2685055,B01HJHA4W0,Soludos Women's Tall Espadrille Wedge Sandal,Soludos,"3,988,993inClothing,ShoesJewelry(",5,None,[Soludos are made in US whole sizes. If you ar...,[https://images-na.ssl-images-amazon.com/image...
2685056,B01HJHQR1W,ChicAmigas88 Sweetheart Mermaid Long Beach Wed...,Unknown,"13,124,926inClothing,ShoesJewelry(",5,None,[],[https://images-na.ssl-images-amazon.com/image...
2685057,B01HJH8JBI,Deer Stags Men's Lohi Oxford,None,"1,228,949inClothing,ShoesJewelry(",5,$28.23 - $80.00,[This classic plain toe style is anything but ...,[https://images-na.ssl-images-amazon.com/image...
2685058,B01HJHFS58,CUPSHE Women's Point Me at The Sky Floral Biki...,CUPSHE,"1,142,909inClothing,ShoesJewelry(",2,None,[CUPSHE Intro To inspire confidence and beauty...,[https://images-na.ssl-images-amazon.com/image...

In [8]:
filtered_rows = product[product['rate']==2]
filtered_rows

,asin,title,brand,p_rank,rate,price,description,image
14,0982948530,Rome Due Centi Luoghi Pocket Guide to 220 Can'...,Melissa Annen,"2,542,044inBooks(",2,None,[Due cento Luoghi provides pilgrims and touris...,None
15,1519588135,One White Lie (The Barrington Billionaire's Se...,Visit Amazon's Jeannette Winters Page,"2,024,632inBooks(",2,$7.99,None,None
25,1940857953,"Stay On Sputtens Sock Puppet Mittens, Water Re...",The Sock Puppet Mitten Company - Sputtens,None,2,$24.99,[Sputtens are adorable character kids mittens ...,[https://images-na.ssl-images-amazon.com/image...
30,3979002381,Gold Flat Hamsa Hand Kabbalah Special Thick Re...,Accessory,"1,165,867inHealthHousehold(",2,None,[Kabbalah Bracelet - 2014 Collection Thick New...,[https://images-na.ssl-images-amazon.com/image...
64,6035555551,medieval jewelry or desk box gothic knights wi...,Digital Angel,">#11,519,060 in Home & Kitchen (See Top 100 in...",2,None,[With eight chivalrous knights guarding your v...,[https://images-na.ssl-images-amazon.com/image...
...,...,...,...,...,...,...,...,...
2684883,B01HJALCIM,Vintage Style Men Wooden Watches Eco-friendly ...,Bewell,"748,949inBeautyPersonalCare(",2,$33.00,"[, Features:, - Adopt the material - wood from...",[https://images-na.ssl-images-amazon.com/image...
2684885,B01HJA29XY,Stuffwholesale Tribal Vintage Necklace Chunky ...,Stuffwholesale,"3,069,544inClothing,ShoesJewelry(",2,$9.99,[Features: 100% New and High Quality Type: Nec...,[https://images-na.ssl-images-amazon.com/image...
2684904,B01HJB15HO,YFFSUN B01HJB15HO,YFFSUN,None,2,None,None,[https://images-na.ssl-images-amazon.com/image...
2684929,B01HJBEZ3A,TUSEN JEWELRY Men's Wedding Bands 18K Gold Pla...,TUSEN JEWELRY,"197,625inClothing,ShoesJewelry(",2,$24.98,[TUSEN JEWELRY-Tungsten Carbide Ring On Amazon...,[https://images-na.ssl-images-amazon.com/image...
2685058,B01HJHFS58,CUPSHE Women's Point Me at The Sky Floral Biki...,CUPSHE,"1,142,909inClothing,ShoesJewelry(",2,None,[CUPSHE Intro To inspire confidence and beauty...,[https://images-na.ssl-images-amazon.com/image...

In [9]:
product.to_csv("product.csv")

## also buy

In [15]:
AlsoBuyTab = df[['asin', 'also_buy']].copy()
AlsoBuyTab['asin'] = AlsoBuyTab['asin'].apply(lambda x: [x][0])
AlsoBuyTab['also_buy'] = AlsoBuyTab['also_buy'].fillna('None')
AlsoBuyTab = AlsoBuyTab.explode('also_buy')
AlsoBuyTab = AlsoBuyTab.rename(columns={'also_buy': 'asinB'})
AlsoBuyTab

               asin       asinB
0        0000037214        None
1        0201377179        None
2        0204444454        None
3        0204444403        None
4        0206313535        None
...             ...         ...
2685058  B01HJHFS58  B078KDFQKP
2685058  B01HJHFS58  B07GZLS7FW
2685058  B01HJHFS58  B0773HSPHK
2685058  B01HJHFS58  B07D1ZT73T
2685058  B01HJHFS58  B07B3QB2MB

[14511124 rows x 2 columns]

In [16]:
AlsoBuyTab.to_csv("AlsoBuyTab.csv")

## also view

In [17]:
#form also_view table
AlsoViewTab = df[['asin', 'also_view']].copy()
AlsoViewTab['asin'] = AlsoViewTab['asin'].apply(lambda x: [x][0])

AlsoViewTab['also_view'] = AlsoViewTab['also_view'].fillna('None')
AlsoViewTab = AlsoViewTab.explode('also_view')
AlsoViewTab = AlsoViewTab.rename(columns={'also_view': 'asinV'})
AlsoViewTab

               asin       asinV
0        0000037214        None
1        0201377179        None
2        0204444454  B07CJF5HLR
2        0204444454  B01EBI8UH6
2        0204444454  B01N1LR908
...             ...         ...
2685057  B01HJH8JBI  B01M0OOJR6
2685057  B01HJH8JBI  B01MZEXAWK
2685058  B01HJHFS58  B01G1H29FO
2685058  B01HJHFS58  B07DFG6R54
2685058  B01HJHFS58  B073B2QD3D

[25121813 rows x 2 columns]

In [18]:
AlsoViewTab.to_csv("AlsoViewTab.csv")

## category

In [19]:
#form category table
CatTab = df[['asin', 'category']].copy()
CatTab['category'] = CatTab['category'].fillna('None')
CatTab['asin'] = CatTab['asin'].apply(lambda x: [x][0])

CatTab = CatTab.explode('category')
CatTab = CatTab.rename(columns={'category': 'cname'})
CatTab

               asin                                              cname
0        0000037214                          Clothing, Shoes & Jewelry
0        0000037214                             Costumes & Accessories
0        0000037214                                        Kids & Baby
0        0000037214                                              Girls
0        0000037214                                        Accessories
...             ...                                                ...
2685058  B01HJHFS58                                    Fabric: chinlon
2685058  B01HJHFS58                                  Reversible design
2685058  B01HJHFS58              Cross at front and tie at back design
2685058  B01HJHFS58                  About Cup Style: With padding bra
2685058  B01HJHFS58  The pattern is one of a kind - The exact patte...

[21977696 rows x 2 columns]

In [27]:
CatTab.to_csv("CatTab.csv")

In [24]:

plist = df[['asin']].copy()
plist

               asin
0        0000037214
1        0201377179
2        0204444454
3        0204444403
4        0206313535
...             ...
2685054  B01HJHR8A6
2685055  B01HJHA4W0
2685056  B01HJHQR1W
2685057  B01HJH8JBI
2685058  B01HJHFS58

[2685059 rows x 1 columns]

In [25]:
plist.to_csv("plist.csv")